.nav-menu {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px; /* Add padding for spacing around the logo and links */
    background-color: rgba(255, 255, 255, 0.9); /* Add some transparency to the background */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); Add a subtle box shadow */
    top: 0;
    width: 100%;
    z-index: 10;
    height: 150px;
    margin:0px
  }
  
  
  .nav-link {
    text-decoration: none;
    font-weight: 400;
    font-size: 1em;
    color: rgb(40, 40, 40);
    margin-right: 10px; /* Add spacing between nav links */
    transition: color 0.3s ease; /* Add a smooth transition for the color change */
  }
  
  .nav-link:hover {
    color: rgb(19, 19, 17);
  }
  
  .nav-link.active {
    color: rgb(80, 18, 156);
    font-weight: 600;
  }
  
  .logo {
    margin: 0px;
    display: flex;
    align-items: center;
    padding-right: 50px; /* Adjust padding for spacing to the right */
  }
  
  .logo img {
    height: 150px; /* Adjust the height of the logo */
    margin-right: 600px; /* Add spacing between the logo and nav links */
    margin-left: 50px;
  }
  
  
  .cart-widget {
    display: flex;
    align-items: center;
    margin-right: 80px;
  }
  
  .cart-widget a {
    text-decoration: none;
    color: rgb(44, 44, 43);
    font-size: 1em;
    margin-right: 20px; /* Add spacing between cart and nav links */
    transition: color 0.3s ease; /* Add a smooth transition for the color change */
  }
  
  .cart-widget a:hover {
    color: rgb(19, 19, 17);
  }
  
  .cart{
    height: 30px; /* Adjust the height of the logo */
  }